{% extends 'layout.njk' %}

{% block head %}
    <title>Teachers - Private Lessons</title>
{% endblock %}

{% block content %}

<div class="card">

    <section class="avatar"
        style="background: url(https://source.unsplash.com/collection/10085420/900x900) no-repeat center center / cover">
    </section>

    <section class="details">

    <h3>Details</h3>
    
    <div class="item">
        <div>Teacher</div>
        <div>Pedro Gonçalves</div>
    </div>

    <div class="item">
        <div>Age</div>
        <div>36</div>
    </div>

    <div class="item">
        <div>Educational Level</div>
        <div>PhD in Physic</div>
    </div>

    <div class="item">
        <div>Class Type</div>
        <div>Remote</div>
    </div>

    <div class="item">
        <div>Subjects</div>
        <div>
            <span>Math</span>
            <span>Physics</span>
        </div>
    </div>

    <div class="item">
        <div>Since</div>
        <div>05/09/2016</div>
    </div>
    
    </section>

</div>

{% endblock %}