{% extends "layout.njk" %}

{% block head %}

<title>About - Rocketseat</title>

{% endblock %}

{% block content %}

    <div class="wrapper">
        <img src="https://cdn-images-1.medium.com/max/1200/1*TkXVfLTwsHdwpUEjGzdi9w.jpeg" alt="Rocketseat Logo">

        <h1><a href="https://rocketseat.com.br/" target="_blank">Rocketseat</a></h1>

        <h2>Transforme sua carreira e seja um programador desejado no mercado, dominando as ferramentas mais modernas de
            desenvolvimento web e mobile.</h2>

        <p>Treinamento imersivo nas tecnologias mais modernas de desenvolvimento web e mobile para quem não tem tempo a
            perder.</p>

        <div>
            <p class="stack">Nodejs</p>
            <p class="stack">Reactjs</p>
            <p class="stack">React Native</p>
        </div>

    </div>

    {% endblock %}