{% extends "layout.njk" %}}

{% block head %}

<title>Not Found - Rocketseat</title>

{% endblock %}

{% block content %}

<div class="wrapper">
  <img class="img-logo" src="https://cdn-images-1.medium.com/max/1200/1*TkXVfLTwsHdwpUEjGzdi9w.jpeg" alt="Rocketseat">
  <h1>Error 404</h1>
  <h1>Page Not Found</h1>

</div>

{% endblock %}