<div class="wrapper-form">

    <div class="item">
        <div>Recipe Image URL</div>
        <div>
            <input type="url" name="recipe_url" placeholder="http://" value="{{recipe.image}}">
        </div>
    </div>

    <div class="item">
        <div>Recipe's Title</div>
        <div>
            <input type="text" name="name" placeholder="Recipe's title" value="{{recipe.title}}">
        </div>
    </div>

    <div class="item">
        <div>Recipe's Author</div>
        <div>
            <input type="text" name="name" placeholder="Recipe's author" value="{{recipe.author}}">
        </div>
    </div>

    <div class="item">
        <div>Ingredients</div>

        <div id="ingredients">
            <div class="ingredient">
                <input type="text" name="ingredients[]" value="" placeholder="Ingredient" />
            </div>
        </div>
        <button type="button" onClick="addIngredient()" class="add-ingredient"
        role="button">Add Ingredient</button>
    </div>

    <div class="item">
        <div>Method of Preparation</div>
        <div>
            <input type="text" name="name" placeholder="Method of preparation" value="{{recipe.preparation}}">
        </div>
    </div>

    <div class="item">
        <div>Additional Information</div>
        <div>
            <input type="text" name="name" placeholder="Additional information" value="{{recipe.information}}">
        </div>
    </div>

    <button type="submit" id="save">Save</button>

</div>