{% extends 'layout.njk' %}

{% block head %}
    <title>Teachers - Private Lessons</title>
{% endblock %}

{% block content %}

<form class="card" method="POST" action="/teachers">

    <section class="avatar"
        style="background: url(https://source.unsplash.com/collection/10085420/900x900) no-repeat center center / cover">
    </section>

    <section class="details">

        <h3>New Teacher</h3>
        
        <div class="item">
            <div>Avatar URL</div>
            <div>
                <input type="url" name="avatar_url" placeholder="http://">
            </div>
        </div>

        <div class="item">
            <div>Teacher</div>
            <div>
                <input type="text" name="name" placeholder="Teacher's name">
            </div>
        </div>

        <div class="item">
            <div>Date of Birth</div>
            <div>
                <input type="date" name="birth">
            </div>
        </div>

        <div class="item">
            <div>Educational Level</div>
            <div>
                <select name="educationLevel">
                    <option value="HS" selected>Complete high school</option>
                    <option value="HE">Complete Higher Education</option>
                    <option value="M">Master's degree</option>
                    <option value="DrP">Doctorate or Ph.D.</option>
                </select>
            </div>
        </div>

        <div class="item">
            <div>Class Type</div>
            <div>
                <span><input type="radio" name="classType" value="R" checked>Remote</span>
                <span><input type="radio" name="classType" value="P">Presential</span>
            </div>
        </div>  

        <div class="item">
            <div>Subjects</div>
            <div>
                <input type="text" name="subjects" placeholder="Separate the taught subjects by a comma">
            </div>
        </div>

        <button type="submit">Save</button>
    
    </section>

</form>

{% endblock %}