<!DOCTYPE html>
<html>

<head>

    {% block head %}

        <title>Private Lessons</title>

    {% endblock %}


    <link rel="stylesheet" href="/styles.css">

</head>

<body>
    <header>

        <div class="links">
            <a href="/teachers">Teachers</a>
            <a href="/students">Students</a>
        </div>

    </header>

        {% block content %}

        {% endblock %}

</body>

<script src="/scripts.js"></script>

</html>