.cards {
    margin:50px 0px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 20px;
    grid-row-gap: 30px;
}

#recipes_cards {
    margin: 50px 230px;

}

.card_img-container {
    margin-bottom: 20px;
}

.card_img-container img {
    width: 300px;
    height: 140px;
    border-radius: 15px;
    object-fit: cover;
}

.card_title {
    font-size: 18px;
    line-height: 21px;
    color: #111111;
    margin-bottom: 5px;
}

.card_author {
    font-size: 14px;
    line-height: 16px;
    color: #777777;
}