@import url('https://fonts.googleapis.com/css?family=Permanent+Marker|Roboto:400,700&display=swap');

* {
    margin: 0;
    padding: 0;
    border: 0;
}

header,
main {
    margin: 36px 230px 0px;

}

.links a {
    text-decoration: none;
    vertical-align: middle;
}

.links img {
    width: 90.6px;
    height: 26.9px; 
    margin-right: 90px;
}

nav {
    display: inline;
}

nav a {
    color: #111111;
    margin: 30px;
    font-size: 16px;
    line-height: 19px;
    text-decoration: none;
}

body {
    font-family: 'Roboto', sans-serif;
}

.container {
    max-width: 940px;
    max-height: 366px   ;
    background: #FBDFDB;
    border-radius: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 50px;
}

.container_text {
    max-width: 316px;
    margin: 117px 60px;
}

.container_text h1 {
    font-size: 31px;
    color: #111111;
    margin-bottom: 10px;
    line-height: 38px;
}

.container_text p {
    opacity: 0.7;
    font-size: 18px;
    color: #000000;
    line-height: 28px;
}

.container_img {
    margin: 66px 100px 0px 125px;
}

.card_title p {
    font-size: 18px;
    line-height: 21px;
    color: #111111;
    margin-bottom: 5px;
}